*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Montserrat', sans-serif; // 'Montserrat', 'Roboto';
}

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

.water {
  min-height: 100vh;
  width: 100vw;
  background-color: #2980b9;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    color: #ecf0f1;
    font-size: 2rem;
    text-align: center;
    padding: 15px;

    &--title {
      font-size: 3.5rem;
      margin: 30px 0 20px;
    }

    &--h4 {
      margin: 20px 0 30px;
    }

    &--cup {
      max-width: 300px;
      height: 600px;
      border: 3px solid #2c3e50;
      margin: 0 auto;
      color: #2c3e50;

      border-radius: 0 0 45px 45px;
      background-color: #ecf0f1;
      overflow-y: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__remained {
        font-size: 2.5rem;
        font-weight: 500;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &__filled {
        font-size: 3.5rem;
        font-weight: 600;
        width: 100%;
        height: 0%;
        background-color: #3498db;
        color: #ecf0f1;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    &--para {
      text-align: center;
      margin: 20px;
    }
    &__box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 60px);
      grid-template-rows: repeat(2, 80px);
      justify-content: center;
      gap: 2rem;

      &--cups {
        border: 3px solid #2c3e50;
        margin: 0 auto;
        color: #2c3e50;
        cursor: pointer;

        border-radius: 0 0 45px 45px;
        background-color: #ecf0f1;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.5rem;
        padding: 3px;
      }

      &--cups.active {
        background-color: #3498db;
      }
    }
  }

  @media (max-width: 768px) {
    &__content {
      &--title {
        font-size: 3rem;
        margin: 0 0 5px;
      }

      &--h4 {
        margin: 10px 0 5px;
      }

      &--cup {
        max-width: 27rem;
        height: 45rem;
      }

      &--para {
        text-align: center;
        margin: 10px;
      }
      &__box {
        grid-template-columns: repeat(4, 50px);

        &--cups {
          font-size: 1.2rem;
        }
      }
    }
  }
}
